<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/cTTggc927lEPCMsWUsdugSj6wAY.jpg" alt="" />
    </div>
    <div class="slide-pane">
      <h2 class="name">mohamed</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="app-icons">star</span><span class="rating-value">7.5</span><span>/10</span>
        </span>
        <span>680 Rev</span>
        <span>2021</span>
        </div>
      </div>
      <div class= "desc mt-6">
        Music superstars Kat Valdez and Bastian are getting married before a  global audience of fans. But when Kat learns, seconds before her vows, that Bastian has been unfaithful, she decides to marry Charlie, a stranger in the crowd, instead
      </div>
    </div>
  </div>
</div>
